@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #eeeff1;
}

#navbar{
    background-color: white;
}

nav{
    // border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 5.5rem;
    margin: auto;
    box-sizing: border-box;

    #mobile-cta{
        width: 2.5em;
    }

    #navcontainer{
        display: none;
    }

    .logo{
        display: flex;
        align-items: center;
        font-size: 2em;
        font-weight: bolder;

        img{
            border: 2px solid gray;
            color: gray;
            border-radius: 50%;
            padding: .1em;
            width: 35px;
            margin: 0em .4em ;
            box-sizing: border-box;
        }
    }
        
}

#main{
    background: black url("/images/Background.jpg") no-repeat ;
    background-size: cover;
    color: white;
    height: 30em;
    width: 100%;
    // border: 2px solid rgb(0, 0, 255);
    display: grid;
    align-content: center;

    .content{
        display: flex;
        justify-content: space-around;
        // border: 2px solid red;
        width: 55%;
        margin: auto;

        h1{
            font-weight: bold;
            font-size: 3em;
        }

        p{
            font-size: 1.2em;
            margin: 2em 0;
            letter-spacing: .1em;
        }
    }

    h1{
        margin: 0;
    }

    .secImg{
        img{
            display: none;
            width: 40em;
        }
    }
}

.description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    gap: 2em;
    margin-bottom: 3em;

    .quotes{
        width: 20em;
        padding: 1em 1.5em;
        line-height: 1.6;
        font-size: 1.2em;

        img{
            float: right;
            width: 4.5em;
        }
    }
}

.Footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    gap: 2em;
    margin-bottom: 3em;


    .container{
        width: 20em;
        padding: 1em 1.5em;
        font-size: 1.2em;
        background-color: white;
        border: 2px solid rgb(159, 159, 159);
        border-radius: .4em;
        text-align: center;

        span{
            font-size: 5em;

            p{
                margin-top: -0.1em;
            }
        }
    }
}

// #navcontainer{
//     position: fixed;
//     z-index: 9;
//     width: 35%;
//     right: 0;
//     top: 0;
//     background: #c5c5c5;
//     height: 100vh;
//     padding: 2em;
//     color: white;
//     box-sizing: border-box;

//     #mobile-exit{
//         float: right;
//     }

//     .navLeft{
//         justify-content: flex-end;
//         display: flex;
//     }

//     .navLeft{
//         margin-top: 5em;
//     }

    
//     img{
//         width: 2.5em;
//     }
    
//     ul{
//         list-style: none;
//         align-items: center;
//         font-size: 1.5em;
//         color: black;
//         font-weight: bold;

//         li{
//             font-size: 1.3em;
//             padding: .5em;
//             margin: .5em;
//         }
//     }
// }

@media only screen and (min-width: 1080px){
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

}



