@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #eeeff1;
}

#navbar {
  background-color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 4em;
  margin: auto;
  box-sizing: border-box;
}
nav #mobile-cta {
  width: 1.5em;
}
nav #navcontainer {
  display: none;
}
nav .logo {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bolder;
  margin-right: 2.2em;
}
nav .logo p {
  padding: 0.2em;
  margin-top: 0.8em;
}
nav .logo img {
  border: 2px solid gray;
  color: gray;
  border-radius: 50%;
  padding: 0.1em;
  width: 35px;
  margin-right: 0.4em;
  box-sizing: border-box;
}

.myCarousel {
  width: 100%;
}

.backimg {
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel-caption {
  display: flex;
}
.carousel-caption .caption-txt {
  float: left;
}
.carousel-caption img {
  display: none;
  width: 40em;
  float: right;
}

#main {
  background: url("/images/Background.jpg") no-repeat;
  background-size: cover;
  color: white;
  height: 30em;
  width: 100%;
  display: grid;
  align-content: center;
  position: relative;
}
#main:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-image: url("/images/Background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main .content {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  gap: 3em;
}
#main .content h1 {
  font-weight: bold;
  font-size: 1.5em;
}
#main .content p {
  font-size: 1em;
  margin: 2em 0;
  letter-spacing: 0.05em;
}
#main h1 {
  margin: 0;
}
#main .secImg img {
  display: none;
  width: 40em;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  margin-top: 2em;
  gap: 2em;
  margin-bottom: 3em;
}
.description .quotes {
  width: 20em;
  line-height: 1.6;
  font-size: 1.1em;
}
.description .quotes img {
  float: right;
  width: 4em;
}

.Footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 85%;
  margin: auto;
  gap: 2em;
  margin-bottom: 3em;
}
.Footer .container {
  width: 20em;
  padding: 1em 1em;
  font-size: 1.1em;
  background-color: white;
  border: 2px solid rgb(159, 159, 159);
  border-radius: 0.4em;
  text-align: center;
}
.Footer .container p {
  margin: 0;
}

#navcontainer {
  position: fixed;
  z-index: 9;
  width: 50%;
  right: 0;
  top: 0;
  background: rgba(179, 179, 179, 0.9);
  border-radius: 1em;
  height: 70vh;
  padding: 1.5em;
  box-sizing: border-box;
}
#navcontainer #mobile-exit {
  float: right;
  width: 1.5em;
}
#navcontainer .navLeft {
  display: flex;
  justify-content: flex-start;
  margin-top: 0.3em;
}
#navcontainer .navLeft .widenav {
  float: left;
  padding: 0;
  margin-bottom: 0;
}
#navcontainer .navRight ul {
  margin-top: 0.9em;
  padding: 0;
}
#navcontainer .navRight li {
  display: flex;
  align-content: center;
}
#navcontainer .navRight li p {
  margin: 0;
  padding-left: 0.3em;
}
#navcontainer .navRight li img {
  height: 1.5em;
}
#navcontainer ul {
  list-style: none;
  align-items: center;
  font-size: 1.5em;
}
#navcontainer ul li {
  font-size: 0.8em;
  padding: 0.1em;
  margin: 0.5em;
}
#navcontainer ul li:hover {
  font-weight: bold;
}

.menu-btn {
  display: block !important;
}

.mobile-menu-exit {
  float: right;
  margin: 0.2em;
  cursor: pointer;
}

@media only screen and (min-width: 1080px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .secImg img {
    display: block !important;
  }
  nav #navcontainer {
    display: flex !important;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
  }
  nav .navRight {
    display: flex !important;
    align-items: center;
  }
  nav .navRight img {
    height: 1.7em;
  }
  nav .navRight ul {
    display: flex;
  }
  nav .navRight ul li {
    display: flex;
    align-items: center;
  }
  nav .navLeft {
    margin-top: 0 !important;
    display: flex;
    align-items: center;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    font-size: 1em;
    padding: 0.1em 1em;
  }
}/*# sourceMappingURL=main.css.map */